<!DOCTYPE html>
<html>
  <head>
    <%= favicon_link_tag vite_asset_path('assets/images/favicon.ico') %>
    <title>Policy Pulse USA</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= vite_client_tag %>
    <%= vite_javascript_tag 'application' %>
    <!--
      If using a TypeScript entrypoint file:
        vite_typescript_tag 'application'

      If using a .jsx or .tsx entrypoint, add the extension:
        vite_javascript_tag 'application.jsx'

      Visit the guide for more information: https://vite-ruby.netlify.app/guide/rails
    -->

    <%= Sentry.get_trace_propagation_meta.html_safe %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
